.header {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 30px;
  }

  .form {
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    background-color: #ffffff1f;
    width: 500px;
    margin: auto;
    padding: 30px;
  }

  .label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flexbox;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
  }

  button[type="submit"] {
    font-family: Arial, sans-serif;
    background-color: #574caf;
    color: #fff;
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
  }

  button[type="submit"]:hover {
    font-family: Arial, sans-serif;
    background-color: #413696;
  }

  button[type="cancel"] {
    font-family: Arial, sans-serif;
    background-color: #e32e2e;
    color: #fff;
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
  }

  button[type="cancel"]:hover {
    font-family: Arial, sans-serif;
    background-color: #9a1c1c;
  }